header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    max-width: 100dvw;

    .dropdown-menu-icon {
        color: #66FCF1;
        cursor: pointer;
    }

    .logo {
        padding: 0;
        margin: 0;
    }

    .desktop-nav {
        display: none;  

        .desktop-links {
            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .auth-buttons {
        display: none;  // This hides the desktop auth buttons on mobile
    }
}

@media (min-width: 768px) {
    nav {
        display: flex;
    }

    .auth-buttons {
        display: flex;
    }

    .dropdown-menu-icon {
        display: none;  // Hide the hamburger menu icon on desktop
    }
}
