header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    max-width: 100dvw;

    .dropdown-menu-icon {
        color: #66FCF1;
        cursor: pointer;
    }

    .logo {
        padding: 0;
        margin: 0;
    }

    .desktop-nav {
        display: none;  

        ul {
            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .auth-buttons {
        display: none; 
    }
}

@media (min-width: 768px) {

    header {
        justify-content: space-between;
        max-width: 1400px;
        margin: auto;

        .desktop-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            
            ul {
                display: flex;
                flex-direction: row;
                font-size: 1.5rem;
                font-weight: 500;
                gap: 1rem;
                flex-wrap: wrap;
                padding: 0;

                a:hover {
                    color: #00FFFF;
                    transition: ease-in 0.3s;
                }
            }
        }
        .auth-buttons {
            display: flex;
        }
        .dropdown-menu-icon {
            display: none;
        }
    }
}

@media (min-width: 1200px) {

    header {

        .desktop-nav {
            

            ul {
                gap: 2rem;
            }
        }
    }
}
