.auth-buttons {
    display: flex;
    gap: 1rem;

    a {
        text-decoration: none;
    }

    .login {
        background-color: $primary-colour;
        border: 1px solid $secondary-colour;

        &.login {
            color: $secondary-colour;
        }
        &:hover {
            background-color: $secondary-colour;
            color: $primary-colour;
            transition: ease-in .2s;
        }
    }


    .signup {
        background-color: $secondary-colour;

        &.signup {
        color: $primary-colour;  
        border: 1px solid $primary-colour;
        }
        &:hover {
            background-color: $primary-colour;
            color: $secondary-colour;
            border: 1px solid $secondary-colour;
            transition: ease-in .2s;
        }

    }
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

