div.form-container {
    padding: 0;
    display: flex;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .form-input {
            display: flex;
            flex-direction: column;

            input {
                padding: 10px;
                border: none;
                border-radius: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    width: 100%;
    }
    
}

.card-content {
    padding: 10px 0;
}

.delete-button {
    margin-top: 10px;
    width: 100%;
}