.auth-container {
  @include flex-center;
  min-height: 100vh;
  @include background-image('../../assets/images/background-image.png');
  @include text-white;
  font-family: Arial, sans-serif;

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    max-width: 300px;
    line-height: 1.5;

    @media (max-width: 850px) {
      display: none;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: $secondary-colour;
    }

    p {
      color: #ccc;
    }
  }
}
