header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    width: 100%;
    max-width: 100vw;  /* Prevent overflow */
    box-sizing: border-box;

    .dropdown-menu-icon {
        color: #66FCF1;
        cursor: pointer;
    }

    .logo {
        padding: 0;
        margin: 0;
    }

    .desktop-nav {
        display: none;

        ul {
            display: flex;
            gap: 1rem;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .auth-buttons {
        display: none;
    }

    @media (min-width: 768px) {
        max-width: 1400px;
        margin: auto;

        .desktop-nav {
            display: flex;

            ul {
                flex-direction: row;
                font-size: 1.5rem;
                font-weight: 500;
                padding: 0;

                a:hover {
                    color: #00FFFF;
                    transition: ease-in 0.3s;
                }
            }
        }

        .auth-buttons {
            display: flex;
            gap: 1rem;

        }

        .dropdown-menu-icon {
            display: none;
        }
    }

    @media (min-width: 1200px) {
        .desktop-nav ul {
            gap: 2rem;
        }
    }

    @media (max-width: 400px) {

            .logo {
                width: 80%;

                img {
                    width: 100%;
                }
            }

    }
}